*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  //   border: 1px solid red;
}
html {
  font-size: 62.5%;
  @include respond(phone) {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
  color: #ffffff;
}

.header {
  background: url("../images/home/background-home-desktop.jpg");
  padding: 3rem 0rem 0rem 3rem;
  background-size: cover;
  background-position: right;

  @include respond(tab) {
    background: url("../images/home/background-home-tablet.jpg");
    background-size: cover;
    background-position: center;
  }
  @include respond(phone) {
    background: url("../images/home/background-home-mobile.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem 0rem 0rem 3rem;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include respond(phone) {
    display: inline-block;
  }

  hr {
    width: 40%;
    border: none;
    border-bottom: 0.1rem solid #ffffff80;
    font-weight: 10;
    z-index: 1;
    left: 5rem;
    right: 0rem;
    margin-right: -10rem;

    @include respond(win-land) {
      width: 30%;
    }
    @include respond(win-port) {
      width: 20%;
    }

    @include respond(tab-land) {
      display: none;
    }
  }
}
.toggle--items--check {
  display: none;
  @include respond(phone) {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5rem;
    top: 10rem;
    padding: 4.5rem 0rem 4.5rem 5rem;
    z-index: 10;
  }
}
.toggle--items {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  //   justify-content: space-between;
  gap: 5rem;
  backdrop-filter: blur(30px);
  padding: 4.5rem 15rem 4.5rem 10rem;

  @include respond(win-port) {
    padding: 4.5rem 5rem 4.5rem 10rem;
  }
  @include respond(tab) {
    gap: 3rem;
  }
  @include respond(tab) {
    background-color: #ffffff10;
    backdrop-filter: none;
    padding: 4.5rem 5rem 4.5rem 5rem;
  }
}
.toggle--items__each {
  a {
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
    letter-spacing: 0.27rem;
    line-height: 1;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 16;
    color: #ffffff;
    @include respond(phone) {
      font-size: 2rem;
    }

    .number {
      font-weight: bold;
      @include respond(tab) {
        display: none;
      }
      @include respond(phone) {
        display: inline-block;
      }
    }
  }
}

.main--body {
  position: relative;
  // top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 25rem 10rem 0rem 13rem;
  padding-bottom: 13rem;
  @include respond(win-port) {
    margin: 10rem 5rem 0 5rem;
  }
  @include respond(tab-land) {
    margin: 10rem 0rem 0 5rem;
  }
  @include respond(tab) {
    flex-direction: column;
    margin: 10rem 10rem 0rem 13rem;
    align-items: center;
    justify-content: space-between;
    gap: 15rem;
  }
}
.left--section {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include respond(win-port) {
    width: 70%;
  }
  @include respond(tab) {
    width: 61%;
    align-items: center;
  }

  @include respond(phone) {
    width: 100%;
  }
}
.text {
  font-size: 2.8rem;
  letter-spacing: 0.475rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 28;
  color: #d0d6f9;

  @include respond(phone-mini) {
    font-size: 2rem;
  }
}
.text--highlight {
  font-size: 15rem;
  font-family: "Bellefair", serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 150;
  @include respond(tab) {
    font-size: 17rem;
    text-align: center;
  }
  @include respond(phone) {
    font-size: 15rem;
  }
}
.text--content {
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 18;
  color: #d0d6f9;
  line-height: 32px;
  @include respond(tab) {
    text-align: center;
  }
}
.right--section {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  @include respond(tab) {
    justify-content: center;
    width: 100%;
  }
}

.circle--img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  color: #0b0d17;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-family: "Bellefair", serif;
}
