.header__tech {
  background: url(../images/technology/background-technology-desktop.jpg);
  padding: 3rem 0rem 0rem 3rem;
  background-size: cover;
  background-position: right;
  @include respond(tab-land) {
    background-color: url(../images/technology/background-technology-tablet.jpg);
    padding: 0rem 0rem 0rem 0rem;
    background-size: cover;
    background-position: center;
  }
  @include respond(phone) {
    background-color: url(../images/technology/background-technology-mobile.jpg);
    padding: 0rem 0rem 0rem 0rem;
    background-size: cover;
    background-position: center;
  }

  nav {
    @include respond(tab-land) {
      padding-left: 3rem;
    }
    @include respond(phone) {
      padding-top: 3rem;
    }
  }
}

.main--body__tech {
  margin: 10rem 0rem 0rem 13rem;
  display: flex;
  align-items: flex-start;

  @include respond(win-large) {
    margin: 10rem 0rem 0 5rem;
  }
  @include respond(win-land) {
    margin: 10rem 0rem 0 3rem;
  }
  @include respond(tab-land) {
    margin: 10rem 0rem 0 0rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 6rem;
  }

  h5 {
    @include respond(tab-land) {
      padding-left: 3rem;
    }
  }
}
.left--section__tech {
  width: 50%;
  @include respond(win-large) {
    width: 60%;
  }

  @include respond(tab-land) {
    width: 100%;
  }
}

.right--section__tech {
  width: 50%;
  @include respond(win-large) {
    width: 35%;
  }
  @include respond(win-land) {
    width: 40%;
  }
  @include respond(tab-land) {
    width: 100%;
  }
}
.tech--text {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  gap: 5rem;
  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
  }
}
.tech {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 67%;
  @include respond(win-land) {
    width: 90%;
  }
  @include respond(tab-land) {
    width: 70%;
    align-items: center;
  }
}

.text--content__tech {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  @include respond(tab-land) {
    font-size: 3rem;
  }
}

.text--highlight__tech {
  font-size: 5.6rem;
  @include respond(win-land) {
    font-size: 4.5rem;
  }
}
.text--content {
  @include respond(tab-land) {
    text-align: center;
  }
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include respond(tab-land) {
    display: flex;
    flex-direction: row;
  }
}
.img-con {
  width: 100%;
}
.tech--img {
  position: relative;
  top: 0rem;
  @include respond(tab-land) {
    width: 100%;
    object-fit: cover;
  }
}
.circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: transparent;
  outline: 0.1rem solid #ffffff56;
  text-decoration: none;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Bellefair", serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.active--bg {
  outline: none;
  background-color: #ffffff;
  color: #0b0d17;
}
.hovering--bg {
  outline: 0.1rem solid #ffffff;
}

.none--tech {
  @include respond(tab-land) {
    display: none;
  }
}

.display--tech {
  display: none;
  @include respond(tab-land) {
    display: flex;
    gap: 3rem;
    color: #ffffff;
  }
}
