.navbar__button {
  display: none;
  z-index: 11;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  width: 6rem;
  height: 5rem;
  top: 2rem;
  right: 2rem;
  background-color: transparent;

  cursor: pointer;

  @include respond(phone) {
    display: flex;
  }
}
.active--nav {
  border-bottom: 0.3rem solid #ffffff;
  bottom: 0rem;

  // width: 9rem;
}
.hover--nav {
  border-bottom: 0.3rem solid #ffffff78;
  bottom: 0rem;

  // width: 9rem;
}
.navbar {
  display: none;
  &:checked ~ .navbar--tog {
    display: flex;
    width: 50vw;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(40px);
    right: 0rem;
    top: 0rem;
  }
  &:checked + &__button &__icon {
    background-color: transparent;
  }
  &:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
.navbar--tog {
  display: none;
  @include respond(phone) {
    z-index: 10;
    height: 0;
    width: 0;
  }
}

.navbar__icon {
  position: relative;
  top: 2rem;
  width: 3.5rem;

  &,
  &::after,
  &::before {
    height: 0.4rem;
    background-color: #d0d6f9;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
  }

  &::before {
    width: 3.5rem;
    top: 1.3rem;
  }
  &::after {
    width: 3.5rem;
    top: -1.3rem;
  }
}
